
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: large;
    /*color: chocolate;*/ /**/
 }

 body {
   /*background-color: lightyellow;*/
   /*background-image: url("/f/red.gif");*/
   display:grid;
 }

/* unvisited link */
a:link {
  color: royalblue;
}

/* visited link */
a:visited {
  color: darkcyan;
}

/* mouse over link */
a:hover {
  text-decoration: underline;
}

/* selected link 
a:active {
  color: blue;
} */

 a{
    text-decoration: none;
 }

  /* Footer */
  .footer {
   padding: 10px;
   text-align: center;
 }

 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

/*centred image for posts*/
img {
  margin-left: auto;
  margin-right: auto;
  width:50%; 
  height: auto;
  display: block;
}

.padd{ /*full page padding*/
  padding: 0px 40px 0px 40px;
  border: black;
} 

ol { /*ordered list*/
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

ul {
  position: relative;
  list-style: none;
  margin-left: 0;
  padding-left: 1.2em;
}

ul li:before {
  content: "+";
  position: absolute;
  left: 0;
}

/*index styles*/

.header { /*header decoration*/
  padding: 10px;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}
/* Column container */
.row {  
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: auto;
}

/* Created two equal columns that sits next to each other for index */
/* Side/left column */
.side {
  -ms-flex: 48%;
  flex: 48%;
  padding: 20px;
  /*border: 1px solid black;*/
  margin: 0.2%;
  /*background-color: rgba(47, 79, 79, 0.580);*/
}

/* Main/right column */
.main {   
  -ms-flex: 48%;
  flex: 48%;
  padding: 20px;
  /*border: 1px solid black;*/
  margin: 0.2%;
  /*background-color: rgba(47, 79, 79, 0.580);*/
}

/* Half column */
.h {
  -ms-flex: 48%;
  flex: 48%;
  padding: 20px;
  margin: 0.2%;
  /*background-color: rgba(47, 79, 79, 0.580);)*/
}

.scroll {
height:480px;/*height of scroll box--can affect height of overall content of page*/
overflow:scroll;
overflow-x:hidden;
overflow-y:scroll;
}

/* Created 3 equal columns that sits next to each other for gallery */
.g1 {
  -ms-flex: 32%;
  flex: 32%;
  padding: 20px;
  /*border: 1px solid black;*/
  margin: 0.2%;
  /*background-color: rgba(47, 79, 79, 0.580);*/
}
.g2 {   
  -ms-flex: 32%;
  flex: 32%;
  padding: 20px;
  /*border: 1px solid black;*/
  margin: 0.2%;
  /*background-color: rgba(47, 79, 79, 0.580);*/
}
.g3 {   
  -ms-flex: 32%;
  flex: 32%;
  padding: 20px;
  /*border: 1px solid black;*/
  margin: 0.2%;
  /*background-color: rgba(47, 79, 79, 0.580);*/
}

.box {
  inline-size: 1000px;
  overflow-wrap: break-word;
}

 /* when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 842px) {
  .padd{
      padding: 0px 10px 0px 10px
   }
   ul{
      text-align: left;
   }
   .row {  
     text-align: center; 
     flex-direction: column;
   }
   .header{
     font-size: small;
   }
   .box {
    inline-size: 300px;
    overflow-wrap: break-word;
  }
}

 